*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar {
    padding:10px 40px;
    display:flex;
    justify-content: space-between;
}
.navbar ul {
    display:flex;
    list-style-type: none;
    gap:20px;
}


.main-article{
    margin-top:100px;
    padding:10px 40px;
}
.main-article  > img{
    width: 60%;
}
.main-article .details{
    width:30%;
    display:inline-block;
    margin-left:20px;
} 


.main-article .author img {
    width:40px;
    border-radius: 50%;
}

.main-article h1{
    margin:20px 0;
}

.main-article p {
    margin:20px 0;
}
.author p {
    display: inline-block;
    padding-bottom:10px;
}
.articles {
    padding:10px 40px;
}

.article {
    display:inline-block;
    width:45%;
}
.second-article{
    float:right;
}




a {
    text-decoration: none;
    color:black;
}
button {
    background:#ff6f5c;
    padding:5px 10px;
    border:none;
    border-radius: 4px;
    color:white;
}

/*
li:hover{
    background:orange;
}
*/
a:hover{
    padding-bottom:4px;
    border-bottom: 2px solid rgb(49, 47, 47);
}
a:active{
    color:green;
}





.logo{
}

.article img {
    width:100%;
}




